<a href="https://colab.research.google.com/github/jontooy/vl_demos/blob/master/Flickr8k.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Flickr8k

This dataset contains 8091 images, with 5 captions each (40456 in total). The captions are store in a .txt. The goal of this Notebook is to covert these into coco format.

In [1]:
import pandas as pd
import json
import numpy as np
import regex as re

from google.colab import drive
drive.mount('/content/drive')

% cd /content/drive/MyDrive/AraCap/Notebooks/datasets/Flickr8k

Mounted at /content/drive
/content/drive/MyDrive/AraCap/Notebooks/datasets/Flickr8k

In [2]:
df = pd.read_csv('captions.txt', sep=',')
print(df.shape[0])
df.head()

40455

                       image                                            caption
0  1000268201_693b08cb0e.jpg  A child in a pink dress is climbing up a set o...
1  1000268201_693b08cb0e.jpg              A girl going into a wooden building .
2  1000268201_693b08cb0e.jpg   A little girl climbing into a wooden playhouse .
3  1000268201_693b08cb0e.jpg  A little girl climbing the stairs to her playh...
4  1000268201_693b08cb0e.jpg  A little girl in a pink dress going into a woo...

Now the $split_caption.json encodes the captions like:

```json
[{"image_id": "318556", "id": 48, "caption": "A very clean and well decorated empty bathroom"}, ...]
```

For each image:

1. + extract 'image_id' (= 'image' - '.jpg')
  + extract 'id' (= df['row number?'])
  + extract 'caption'

2. Create a list of dictionares like the example above.

3. Dump in .json format in the right folder

In [3]:
# Choose split (either val or train)
split = 'test'

# Remove file extension '.jpg'
df['image'] = df['image'].apply(lambda row : row[:-4])

# Make clean captions
#reg = re.compile('[^a-zA-Z, ]+')
#df['caption'] = df['caption'].apply(lambda row : re.sub(reg, '', row).strip()+'.')
df['caption'] = df['caption'].apply(lambda row : row.strip())

Our data is now in the right format:

In [4]:
df['image'].head()

0    1000268201_693b08cb0e
1    1000268201_693b08cb0e
2    1000268201_693b08cb0e
3    1000268201_693b08cb0e
4    1000268201_693b08cb0e
Name: image, dtype: object

In [5]:
df['caption'].head()

0    A child in a pink dress is climbing up a set o...
1                A girl going into a wooden building .
2     A little girl climbing into a wooden playhouse .
3    A little girl climbing the stairs to her playh...
4    A little girl in a pink dress going into a woo...
Name: caption, dtype: object

In [6]:
# Create annotations
annotations = [{"image_id" : df['image'].iloc[i], "id" : i, "caption" : df['caption'].iloc[i]} for i in range(df.shape[0])]
    
# Create image annotations
images = [{"id" : df['image'].iloc[i], "file_name" : df['image'].iloc[i]} for i in range(df.shape[0])]

# Create coco_format
coco_format = {"annotations" : annotations,
               "images" : images,
               "type": "captions",
               "info": "dummy",
               "licenses": "dummy"}

In [ ]:
# dump json
with open(split+"_caption.json", "w") as f:
  json.dump(annotations, f, separators=(', ', ': '), ensure_ascii = False)
  
with open(split+"_caption_coco_format.json", "w") as f:
  json.dump(coco_format, f, separators=(', ', ': '), ensure_ascii = False)